
/* .logo {  
    position: absolute;
    top: 30px;
    right: 500px;
    width: 100px;
    height: 100px;
}

.logo1 {   
    position: absolute;
    top: 30px;
    right: 40px;
    width: 120px;
    height: 100px;
}

.logo2 {   
    position: absolute;
    top: 1570px;
    right: 40px;
    width: 85px;
    height: 70px;
}

.logo3 {   
    position: absolute;
    top: 3140px;
    right: 40px;
    width: 85px;
    height: 70px;
}

.logo4 {   
    position: absolute;
    top: 4700px;
    right: 40px;
    width: 85px;
    height: 70px;
}

.logo5 {   
    position: absolute;
    top: 6280px;
    right: 40px;
    width: 85px;
    height: 70px;
}
.logo6 {   
    position: absolute;
    top: 7850px;
    right: 40px;
    width: 85px;
    height: 70px;
} */

/* body {
    width: 1200px;
} */
.qwe {
   
    width: 21cm;
    /* border: 1px solid red; */
    margin: 5px;
}

hr {
    
    padding: 0px 40px;
    margin-top: 30px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.container1 {  
    
    /* border: 2px solid rgb(129, 124, 124) ; */
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 70px;
          
}

.container2 {  
    
    /* border: 2px solid rgb(129, 124, 124) ; */
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 100px;
          
}

.container3 {  
    
    /* border: 2px solid rgb(129, 124, 124) ; */
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 100px;
          
}

.container4 {  
    
    /* border: 2px solid rgb(129, 124, 124) ; */
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 120px;
          
}

.container5 {  
    
    /* border: 2px solid rgb(129, 124, 124) ; */
    text-align: center;
    padding: 0px 10px;
   
          
}

.inp { 
    margin-top: 250px;

}
.grid {
    margin-top: 100px;
}

h1, 
h2,
h3 {
    text-align: center;
    /* margin-bottom: 10px; */
    font-family:'Times New Roman', Times, serif;
   
}

h1 {
    font-size: 40px;    
} 

h2 {
    font-size: 25px;
    margin: 0px; 
}


p {
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-size: 18px;
    margin: 3px;
    
   
}

.text {
    text-align: center;
    
    font-family:'Times New Roman', Times, serif;
}

.description {
    width: 50px;
    text-align: center;
}

.name {
    width: 400px;
    text-align: center;
}

.total {
    width: 200px;
    text-align: center;
}

.fio {
    top: 120px;
    right: 40px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}

.date {
    width: 120px;
    text-align: center;
    

}

.price,
.renter,
.landlord {
    width: 140px;
    text-align: center;
}

.counters {
    width: 300px;
    text-align: center;
    
}

